/* app css stylesheet */

.quasi_body {
    width: 100%;
    background-color: #F0F5E6;
    position: absolute;
    z-index: 10002;
    top: 0px;
    min-height: 100%;
    /*height: auto !important;*/
    height: 100%;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
